@font-face {
  font-family: jannaR;
  src: url(../assets/fonts/JannaR.TTF);
}
@font-face {
  font-family: jannaB;
  src: url(../assets/fonts/JannaB.TTF);
}

* {
  margin: 0;
  padding: 0;
  font-family: jannaR;
}
.shit {
  margin: 0 !important;
  padding: 0 !important;
  direction: rtl;
}
.shit-2 {
  margin: 50px 200px 50px 200px !important;
}

.shit-3 {
  min-width: 300px !important;
}
@media only screen and (max-width: 900px) {
  .shit-2 {
    margin: 50px auto 50px auto !important;
  }
  .how-to {
    margin-right: 50px !important;
  }
}
body {
  overflow-x: hidden;
  margin-bottom: 100px;
}

.header {
  background: linear-gradient(-37deg, #f7618b 0%, #2a7aff 100%);
  text-align: center;
  padding: 6%;
  color: white;
  font-family: jannaB;
  font-size: 1.5rem;
}

.button {
  text-decoration: "none";
  color: "white";
}
.button button {
  padding: 20px;
  font-size: 1rem;
  font-family: jannaB;
  border: none;
  color: white;
  margin-bottom: 50px;
  border-radius: 5px;
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.button button:hover {
  transition: 750ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}

.div-of-form-button {
  text-align: left;
  margin-left: 7%;
  margin-top: 30px;
}

.form-button button {
  padding: 10px 30px;
  font-size: 1rem;
  font-family: jannaB;
  border: none;
  color: white;
  border-radius: 5px;
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.form-button button:hover {
  transition: 750ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}

/* .button button:active {
  color: white;
  background-image: linear-gradient(37deg, #f7618b -50%, #2a7aff 150%);
} */

.card {
  text-decoration: none;
  margin: 20px auto;
  width: 300px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  align-self: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card:hover {
  transition: 750ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.infocard {
  margin: 20px auto;
  width: 300px;
  min-width: 300px;

  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  align-items: center;
  align-self: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.cards {
  display: flex;
  box-sizing: unset;
  position: relative;
  width: 90%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin: auto !important;
  right: auto;
  left: auto;
  align-content: space-between !important;
  text-align: center;
}
.img {
  width: 220px;
  height: 220px;
}
.name {
  background-color: #555555 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px 0px;
  width: 300px;
  color: white !important;
  font-family: jannaR;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center !important;
  border-radius: 5px 5px 0 0;
}

.details {
  font-size: 1rem;
  margin: auto !important;
  text-align: center !important;
  color: #8d97ad !important;
}

.infobutton {
  text-align: center;
  margin: 10px auto;
  max-height: 100px;
  max-width: 300px;
}
.infobutton button {
  max-width: 300px;
  margin: auto;

  padding: 20px;
  font-size: 1rem;
  font-family: jannaB;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: #3e4555;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.infobutton button:hover {
  transition: 750ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background-color: #21262e;
}

.infobuttonx {
  text-align: center;
  margin: auto;
  max-width: 300px;
}
.infobuttonx button {
  max-width: 300px;
  margin: 10px auto;

  padding: 20px;
  font-size: 1rem;
  font-family: jannaB;
  border: none;
  color: white;
  border-radius: 5px;
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.infobuttonx button:hover {
  transition: 750ms;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 14px 30px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}

.how-to {
  font-size: 2rem;
  color: #3e4555;
  margin: 20px 0;
  padding-bottom: 60px;
}

.how-to-card {
  display: flex;
  flex-direction: row;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  width: 300px;
  padding: 20px;
  box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
  margin: auto !important;
  margin-bottom: 30px !important;
}

.input-container {
  margin: auto !important;
}

.label {
  padding: 2rem 0;
  font-size: 1.4rem;
  color: #495057;
}
.input {
  margin: auto !important;
  display: block;
  width: 80%;
  padding: 1rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
  color: #495057;
  background-color: #fff;
  background-image: none;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.status {
  background-color: #555555 !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  padding: 10px 0px;
  width: 300px;
  color: white !important;
  font-family: jannaR;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center !important;
  border-radius: 5px 5px 0 0;
  display: flex;
}

.soldout {
  text-align: center !important;
  opacity: 0.75;
  z-index: -5 !important;
}

.soldout .avail {
  text-align: center !important;
  visibility: hidden;
  position: absolute;
}
.soldout .sold {
  text-align: center !important;
  margin: auto;
}
.available {
  text-align: center !important;
}

.available .sold {
  text-align: center !important;
  visibility: hidden;
  position: absolute;
}

.available .avail {
  text-align: center !important;
  margin: auto;
}

.soldout .infobutton {
  visibility: hidden;
  position: absolute;
}
